*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#313131, #497396);
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 1% 2%;
    position: relative;
}
.nav-links ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #497396;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box h2{
    font-size: 30px;
}
.text-box p{
    font-size: 25px;
    color: #ffffff;
}
.text-box a{
    color: #ffffff;
}
.resume{
    text-align: center;
    color: #000000;
}
.resume img{
    border: 1px solid #000000;
}
.resume h1{
    font-size: 50px;
    margin: 1% 25%;
}
.resume p{
    font-size: 50px;
    margin: 1% 25%;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    border: 1px solid #000000;
    padding: 1% 2%;
    font-size: 50%;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid #497396;
    background: #497396;
    transition: 1s;
    color: #ffffff;
}
.arrow {
    position: absolute;
    top: 90%;
    left: 47.5%;
    width: 5%;
    height: auto;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #313131;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}